/* prettier-ignore */
@theme inline {
  /* Configure base font size, type scale, and font families in `src/config/fonts.json` */
  --leading-body: 1.8;
  --leading-inherit: inherit;

  /* Colors */
  --color-primary: #0d0101;
  --color-secondary: #bcd4ff;
  --color-accent: #ff5d00;
  --color-accent-blue: #1601ac;
  --color-body: #0d0101;
  --color-body-dark: #030000;
  --color-border-light: #e5e5e5;
  --color-border-dark: #292525;
  --color-theme-dark: #0e1118;
  --color-theme-darker: #131312;
  --color-theme-light: #fffafa;
  --color-text-default: #fffafa;
  --color-dark: #0d0101;
  --color-light: #fffafa;

  /* Screen */
  --breakpoint-*: initial;
  --breakpoint-sm: 540px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1320px;

  /* Typography */
  --text-base: 1rem;
  --text-base-scale: 1.25;
  --text-base-sm: calc(var(--text-base) * 0.9);

  --text-display-1: 115px;
  --text-display-2: 95px;
  --text-display-3: 80px;
  --text-display-4: 65px;
  --text-display-5: 50px;
  --text-display-6: 40px;

  --text-h1: 90px;
  --text-h2: 56px;
  --text-h3: 36px;
  --text-h4: 28px;
  --text-h5: 22px;
  --text-h6: 18px;

  --text-h1-sm: 64px;
  --text-h2-sm: 42px;
  --text-h3-sm: 30px;
  --text-h4-sm: 22px;
  --text-h5-sm: 18px;
  --text-h6-sm: 16px;

  --gradient-accent: linear-gradient(90deg, #ff5d00 0%, #fffafa 100%);
}
